<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>App</title>
    <link rel="stylesheet" href="\css\style.css">
</head>
<body style="background-color: {{tag.bgColor}}">
  <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div id="wrapper">


    <!--<img id="back" src="img/left_arrow.svg" onclick="killTag()">-->

    <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" xml:space="preserve" style="width:100px; position:absolute; top: 2.4em; right: 3em; height: 3em;" onclick="killTag()">
        <path style="display: none" transform="scale(2)" id="back" d="M11.3,21c-4.2-2.8-8-7.2-8.1-7.4C3.1,13.5,3,13.2,3,13c0-0.2,0.1-0.5,0.2-0.7c0.1-0.2,4-4.6,8.1-7.4  c0.3-0.2,0.7-0.2,1.1-0.1C12.8,5.1,13,5.4,13,5.8v3.7c0,0,8.7,0.5,9.1,0.8c0.6,0.4,0.9,1.7,0.9,2.7c0,1.1-0.4,2.2-0.9,2.6  c-0.4,0.3-9.1,0.9-9.1,0.9v3.7c0,0.4-0.2,0.7-0.6,0.9C12.1,21.3,11.7,21.2,11.3,21z" fill="#6f6f6f"/>
    </svg> -->

    <a href="/"><h1 id="logo" style="color:{{tag.textColor}}"><strong><em>brb</em></strong></h1></a>

{{{body}}}


    <!--<h3 id="time"><strong><em></em></strong></h3>-->

</div>

<div id="footer"><p>More tags coming soon!</p></div>




<div id="footerlinks"> <span><a href="about.html">About&#8195;</a></span><span><a href="contact.html">Contact</a></span></div>



<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

</body>
</html>
