<div class="grid" id="grid">
    <div class="grid__row">
        <a href='/coffee'><div class="grid__item" style="background-color: #2DA4A8"><img class="gridImg" src="media/coffee.gif"></div><p class="gridText">/coffee</p></a>
        <a href='/meeting'><div class="grid__item" style="background-color: #FFFFFF"><img class="gridImg" src="media/meeting.gif"></div><p class="gridText">/meeting</p></a>
        <a href='/pizza'><div class="grid__item" style="background-color: #2686EC"><img class="gridImg" src="media/pizza.gif"></div><p class="gridText">/pizza</p></a>
    </div>
    <div class="grid__row">
        <a href='/bathroom'><div class="grid__item" style="background-color: #FFFFFF"><img class="gridImg" src="media/bathroom.gif"></div><p class="gridText">/bathroom</p></a>
        <a href='/lunch'><div class="grid__item" style="background-color: #007976"><img class="gridImg" src="media/lunch.gif"></div><p class="gridText">/lunch</p></a>
        <a href='/brb'><div class="grid__item" style="background-color: #FFFFFF"><img class="gridImg" src="media/brb.gif"></div><p class="gridText">/brb</p></a>
    </div>
</div>
